<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="InventoryInformationEntities" connectionString="metadata=res://*/Models.InventoryInfoData.csdl|res://*/Models.InventoryInfoData.ssdl|res://*/Models.InventoryInfoData.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MSI\JNAVARRO;initial catalog=InventoryInformation;persist security info=True;user id=jnavarro;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>